name: Python Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Add requirements here if you add more libraries later

    - name: Run Tests
      run: |
        # -s tells it to start in the current directory
        # -p tells it to look for any file starting with 'test_'
        python3 -m unittest discover -s . -p 'test_*.py'